

<h1>Company Sites</h1>
    <ul>
        <%@sites.each do |site|%>
        <li><a href="/sites/<%=site.id%>"><%=site.name%></a></li>
        <%end%>
    </ul>
<p><a href="/sites/new">Create New Site</a></p>
<p><a href="/logout">Logout</a></p>


