<h1>Create New Site</h1>
<form action="/sites" method="POST">
    <label>Name:<input type="text" name="name"></label>
    <label>SiteId:<input type="text" name="siteid"></label><br>
    <input type="submit" value="submit">
</form>